@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  body { touch-action: pan-y; }
  button { touch-action: manipulation; }

  .filled { animation: zoom 0.3s; }
  .winner { animation: jump 0.8s; }

  @keyframes zoom {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes jump {
    0% {
      transform: translateY(0px);
    }
    20% {
      transform: translateY(6px);
    }
    60% {
      transform: translateY(-18px);
    }
    90% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Flip animation for reveals */
  .reveal {
      animation: flip 0.2s ease-in-out forwards;
  }
  
  @keyframes flip {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
  }